{{- /*
Create a Secret for MinIO credentials only if:
  - existingSecret is NOT set
  - and values contain accessKeyId/secretAccessKey
*/ -}}
{{- if and (not .Values.api.minio.existingSecret) (and .Values.api.minio.accessKeyId .Values.api.minio.secretAccessKey) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "lecture.minioSecretName" . }}
  labels:
    {{- include "lecture.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{ .Values.api.minio.accessKeyIdKey }}: {{ .Values.api.minio.accessKeyId | quote }}
  {{ .Values.api.minio.secretAccessKeyKey }}: {{ .Values.api.minio.secretAccessKey | quote }}
{{- end }}

