apiVersion: v1
kind: Service
metadata:
  name: {{ include "lecture.web.name" . }}
  labels:
    {{- include "lecture.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/component: web
    app.kubernetes.io/instance: {{ .Release.Name }}
  ports:
    - name: http
      port: {{ .Values.web.service.port }}
      targetPort: http

