apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: lecture

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - deployment.yaml
  - service.yaml
  - httproute.yaml
  - trafficpolicy-public.yaml

